@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  input {
    @apply text-gray-900; /* Adicione esta linha para garantir cor do texto */
  }
}

@layer components {
  .input {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md 
           focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent
           text-gray-900 bg-white; /* Adicione text-gray-900 e bg-white */
  }
  
  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
}